button.md-top {
    font-family: LXGW WenKai;
    font-size: 16px;
    font-weight: lighter;
    color: #518FC1;
}

:root {
    --md-text-font: "LXGW WenKai";
}

.ml3 {
    font-weight: 900;
    font-size: 30px;
    font-family: LXGW WenKai;
}

h2::before, h3::before, h4::before {
    content: "# ";
}


/* 正文区域 */
.md-typeset {
    font-size: 16.6px;
}

/* 标题样式 */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
    font-weight: 500;     
}


/* 粗体更明显 */
.md-typeset strong,
.md-typeset b {
    font-weight: 600;
}

/* 顶部导航栏（MoonBox、基础积累、格物致知...） */
.md-tabs__link {
    font-size: 15px;          /* 调大，默认约 14px */
}


