site_name: Albert's MoonBox
site_url: https://Albert2718.github.io
site_author: Albert

repo_url: https://github.com/Albert2718/Albert2718.github.io
repo_name: Albert2718.github.io

nav: 
  - MoonBox: 
    - "": index.md
    # - 近期: recent.md
    - 简介: intro.md
  # - 课程笔记:
  #   - 写在前面: notes/index.md
  #   # - 大物实验:
  #   #   - 介绍: notes/phylab/intro.md
  #   #   - 绪论: notes/phylab/chapter_0.md
  #   - 嵌入式系统: 
  #     - 介绍: notes/embedded/intro.md
  #     - 资源整合: notes/embedded/resource.md

  - 技术积累: 
    - 写在前面: tech/index.md
    # - LeetCode: 
    #   - 写在前面: tech/leetcode/intro.md
    #   - 一路楼: tech/leetcode/go.md
    # - Java: 
    #   - Preface: tech/java/intro.md
    #   - Chapter_0: tech/java/chapter_0.md 
    - Lifehacks:
      - 写在前面: tech/life/index.md
      - Steam如何批量上架CS商品: tech/life/easybatch.md
      - FakeRun: tech/life/fakerun.md
  
    - Command:
      - 写在前面: tech/cmd/index.md
      - conda: tech/cmd/conda.md
      - 文件操作: tech/cmd/file.md
      - Linux:
        - 嵌入式开发板基础命令: tech/cmd/linux/embedded.md

    - Control Science:
      - 写在前面: tech/cse/index.md

    - LaTeX: 
      - 写在前面: tech/latex/index.md
      - LaTeX环境的配置: tech/latex/env.md
      - 轻松写出第一篇文章: tech/latex/ez1.md
      - 轻松写出第二篇文章: tech/latex/ez2.md
      - LaTeX进阶: tech/latex/pro.md

    

    - Markdown:
      - 写在前面: tech/md/index.md
      - reveal-md: tech/md/reveal-md.md

    - Dark Embrace:
      - key: tech/dark/index.md
      - 写在前面: tech/dark/intro.md   

      
    # - 面向对象程序设计:
    #   - 写在前面: tech/oop/intro.md
    #   - 面向对象编程入门: tech/oop/chapter_1.md
    # - 数据结构:
    #   - 写在前面: tech/ds/intro.md 
    #   - 绪论: tech/ds/chapter_0.md
  - Research: 
    - 写在前面: research/index.md
    - MobiCom: 
      - AutoFed23: research/mobicom/AutoFed23/notes.md

  - 语宙星辰:
    - 写在前面: lingstar/index.md


  - 冻结核心: 
    - 写在前面: core/index.md
    - 我: core/me.md
    - 热爱: core/passion.md
    - 自然: core/nature.md
    - 酒精: core/alcohol.md
  # - 魔法世界:
  #   - 写在前面: magic/index.md

  - 诗和远方:
    - 写在前面: poems/index.md
    - 没有荣誉的殿堂: poems/honorless.md
    - 西西弗斯和雨: poems/rain.md
    - 我只需让灵魂自由一小会儿: poems/soul.md
    
  - 第九艺术:
    - 写在前面: 9art/index.md
    - CS2: 
      - 写在前面: 9art/cs2/index.md
      - Ancient: 9art/cs2/ancient.md
    - SF6:
      - 写在前面: 9art/sf6/index.md
      - Jamie: 9art/sf6/jamie.md
      


      


theme:
  name: material #主题
  logo: images/moon.png
  favicon: images/moon.png
  icon:
    repo: fontawesome/brands/github
  palette:
    #primary: blue grey

    - media: "(prefers-color-scheme: light)"
      scheme: default # 日间模式
      primary: cyan # 上方的
      accent: indigo # 链接等可交互元件的高亮色
      # teal 
      toggle:
        icon: material/brightness-7 # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
    - media: "(prefers-color-scheme: dark)"
      scheme: slate # 夜间模式
      primary: black 
      accent: indigo
      # teal
      toggle:
        icon: material/brightness-4
        name: 切换至日间模式
  
  features:
    # - header.autohide #自动隐藏头栏
    # - announce.dismiss # 公告栏
    # - navigation.instant #这玩意跟公式爆了
    - navigation.tracking # 在url中使用标题定位锚点
    - navigation.path # 显示当前路径
    - navigation.prune # 侧边栏自动折叠
    - navigation.tabs # 顶部显示导航顶层nav（也就是第一个节点）
    # - navigation.tabs.sticky # 滚动是隐藏顶部nav，需要配合navigation.tabs使用
    - navigation.indexes # 指定节点index pages ，跟instant不兼容
    - navigation.top # 一键回顶部
    - navigation.footer # 底部导航
    - search.highlight # 搜索高亮
    - search.suggest # 搜索建议
    - toc.follow # toc 跟随
    - content.code.annotate # 代码行号
    - content.code.copy # 代码复制  
  
  language: 'zh'  


markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - tables
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 5
      permalink_title: 点击此处可置顶内容
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
        

plugins:
  - search:
      lang:
        - zh
        - en
        - ja
      separator: '[\s\u200b\-]'
  - git-revision-date-localized:
      # type: datetime
      timezone: Asia/Shanghai
      locale: zh
      enable_creation_date: true
      enabled: true
      fallback_to_build_date: false #许回退到git 不可用时mkdocs build执行的时间
      exclude:
        - index.md



extra_javascript:
  - js/katex.js 
  # - js/mathjax.js
  - js/extra.js #首页动画
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js  
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6



extra_css:
  - css/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  # - https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css
  # - https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.0.0/style.css
  # - https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css

  