button.md-top {
    font-family: LXGW WenKai;
    /* 修改字体 */
    font-size: 16px;
    /* 修改字体大小 */
    font-weight: lighter;
    /* 修改字体粗细 */
    color: #518FC1;
    /* 修改字体颜色 */
}

:root {
    --md-text-font: "LXGW WenKai";
}

/* 字体 */


.ml3 {
    font-weight: 900;
    font-size: 30px;
    font-family: LXGW WenKai;
}